# Dependencies
node_modules/

# Production
build/
dist/

# Environment Variables (Cực quan trọng, chứa mật khẩu DB)
.env
.env.local
.DS_Store
.early.coverage
cookingrecipes-86b06-firebase-adminsdk-fbsvc-188b0062b8.json